[Unit]
Description=定时备份 @@APP_NAME@@ 数据

[Timer]
OnBootSec=10min
OnUnitActiveSec=1h
Persistent=true
Unit=@@APP_SLUG@@-backup.service

[Install]
WantedBy=timers.target
